(
    selected_tab: Some("Reset"),
    command_fg: Some("#e8e4dd"),
    selection_bg: Some("#3e3c3a"),
    selection_fg: Some("#e8e4dd"),
    cmdbar_bg: Some("#1a1918"),
    cmdbar_extra_lines_bg: Some("#1a1918"),
    disabled_fg: Some("#524f4d"),
    diff_line_add: Some("#85b829"),
    diff_line_delete: Some("#e85045"),
    diff_file_added: Some("#85b829"),
    diff_file_removed: Some("#e85045"),
    diff_file_moved: Some("#a87ac0"),
    diff_file_modified: Some("#fe8019"),
    commit_hash: Some("#f0be38"),
    commit_time: Some("#9a9491"),
    commit_author: Some("#5296c8"),
    danger_fg: Some("#e85045"),
    push_gauge_bg: Some("#85b829"),
    push_gauge_fg: Some("#1a1918"),
    tag_fg: Some("#f0be38"),
    branch_fg: Some("#a87ac0"),
)
